fastapi
uvicorn
python-docx
pymupdf
google-generativeai
python-multipart
python-dotenv
pywin32
yt-dlp
pystray
Pillow
opencv-python
imagehash
numpy
easyocr
opencv-python-headless
psutil
rapidocr_onnxruntime
pandas
# GIS 等濃度圖工具
scipy
pykrige
matplotlib
openpyxl
geojson
pyperclip
pypdf
ckiptagger
tensorflow