fastapi
uvicorn[standard]
python-docx
pymupdf
google-generativeai
python-multipart
python-dotenv
yt-dlp
Pillow
opencv-python-headless
imagehash
numpy
pandas
scipy
pykrige
matplotlib
openpyxl
geojson
pypdf
psutil
rapidocr_onnxruntime
pyproj
